.navbar{
  background-color: #00771e;
}

.list-group-item{
  margin-bottom: 10px;
  height: 200px;
  cursor: pointer;
}

.list-group-item:hover{
  background-color: #f5f5f5;
}

.btn{
 margin-bottom: 10px;
 background-color: #696969;
 color: white;
}


.btn:hover{
  background-color: #696969;
  color: white;
  
}

#registerForm{
  width: 50vh;
}



.btn{
  border: none;
}